<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="userDAO">
	

	<!--  로그인 -->
	<select id="loginUser" parameterType="member" resultType="member">
		SELECT * FROM MEMBER WHERE EMAIL = #{email} AND M_PASS = #{m_pass}
	</select>
	
	<!--  회원가입 -->
	<insert id="insertUser" parameterType="member">
		INSERT INTO MEMBER (EMAIL, M_PASS, NICKNAME, PHONE, M_REGDATE,RANK, BIRTH,   M_USEABLE)
		VALUES (#{email}, #{m_pass}, #{nickname}, #{phone} , SYSDATE,'일반회원', #{birth} , '사용')
	</insert>
	
	<!-- 닉네임 중복 확인 -->
	<select id="checkName" parameterType="String" resultType="int">
		SELECT count(*) 
  		FROM MEMBER
		WHERE NICKNAME = #{nickname} 
	</select>
	
	<!-- 이메일 중복 확인 -->
	<select id="checkEmail" parameterType="String" resultType="int">
		SELECT count(*) 
  		FROM MEMBER
		WHERE EMAIL = #{email} 
	</select>
	
</mapper>








