<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="userDAO">
	
	<select id="loginUser" parameterType="user" resultType="user">
		SELECT * FROM MEMBER WHERE EMAIL = #{email} AND M_PASS = #{m_pass}
	</select>
	
	<insert id="insertUser" parameterType="user">
		INSERT INTO MEMBER (EMAIL, M_PASS, NICKNAME, PHONE, BIRTH, REG_DATE, RANK)
		VALUES (#{email}, #{m_pass}, #{nickname}, #{phone} , #{birth} ,SYSDATE, '일반회원')
	</insert>
</mapper>








